body {
    background-color: #F4F4FD;
    font-family: "Roboto",sans-serif ; 
}
/* Hero section */
.hero-title {
    color: var(--white, #FFF);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}
.hero-btn{
  
    background: var(--iris, #4D5AE5);
}
.hero-btn:hover,
.hero-btn:focus{
   
        background: var(--ocean, #404BBF);
      
}
/*Header section  */
.header-section{
    background-color: #E7E9FC;
    width: 1440px;
    height: 72;
}
.header-title {
    color: var(--navyblue, #2E2F42);
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
.title {
    color: var(--iris, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
.header-list-item{
    color: var(--navyblue, #2E2F42);
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
}
.header-link {
    text-decoration: none;
    color: var(--navyblue, #2E2F42);
        font-family: "Roboto",sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;

}
.header-list{
    list-style: none
}
.header-link:hover{
    color: #404BBF
}

/* Hero section */

.hero-section {
    background: var(--navyblue, #2E2F42);
}
.hero-title {
    color: var(--white, #FFF);
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}
/* Benefits section */
.benefits-title{
    color: var(--navyblue, #2E2F42);
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}
.benefits h3 {
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.benefits-list{
    list-style: none
}
.benefits-subtitle{
    color: var(--navyblue, #2E2F42);
        font-family: "Roboto",sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
}
.benefits-text{
    color: var(--slate, #434455);
        font-family: "Roboto",sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}

/* Work section */
.work-title{
    color: var(--navyblue, #2E2F42);
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}
.work-list{
    list-style: none
}
/* Team section */
.team-title{
    color: var(--navyblue, #2E2F42);
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}
.team-list{
    list-style: none
}
/* Footer section */
.footer-text{
    color: var(--cloud, #F4F4FD);
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}
/* Button section */
.button-list{
    list-style: none
}
.button-list-item{
   
}
.button-list-btn{
    border-radius: 4px;
        border: 1px solid var(--cornflower, #E7E9FC);
        background: var(--cloud, #F4F4FD);
}
.button-list-btn:hover,
.button-list-btn:focus{
    border-radius: 4px;
        background: var(--ocean, #404BBF);
}
/* Images section */
.images-list{
    list-style: none
}